In [2]:
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'C:\\spark\\'

In [3]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
conf = pyspark.SparkConf().setAppName('appName').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)

In [4]:
sc

In [5]:
import pandas as pd
import sqlite3

In [6]:
# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("sales.db")

In [7]:
cursor = con.cursor()

In [8]:
from pyspark.sql import SQLContext
from pyspark.sql.types import *
from pyspark.sql.functions import *
sqlContext = SQLContext(sc)

In [9]:
query1 = "SELECT * FROM employees"

In [10]:
query2 = "SELECT * FROM customers"

In [11]:
query3 = "SELECT * FROM invoices"

In [12]:
cursor.execute(query1)

In [13]:
cursor.execute(query2)

In [14]:
cursor.execute(query3)

In [15]:
results = cursor.fetchall()

In [16]:
for item in results:
    print(item)

(1, 2, '2009-01-01 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', 1.98)
(2, 4, '2009-01-02 00:00:00', 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', 3.96)
(3, 8, '2009-01-03 00:00:00', 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', 5.94)
(4, 14, '2009-01-06 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 8.91)
(5, 23, '2009-01-11 00:00:00', '69 Salem Street', 'Boston', 'MA', 'USA', '2113', 13.86)
(6, 37, '2009-01-19 00:00:00', 'Berger Straße 10', 'Frankfurt', None, 'Germany', '60316', 0.99)
(7, 38, '2009-02-01 00:00:00', 'Barbarossastraße 19', 'Berlin', None, 'Germany', '10779', 1.98)
(8, 40, '2009-02-01 00:00:00', '8, Rue Hanovre', 'Paris', None, 'France', '75002', 1.98)
(9, 42, '2009-02-02 00:00:00', '9, Place Louis Barthou', 'Bordeaux', None, 'France', '33000', 3.96)
(10, 46, '2009-02-03 00:00:00', '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', None, 5.94)
(11, 52, '2009-02-06 00:00:00', '202 Hoxton Street', 'London', None, 'United Kingdom', 'N1 5LH', 8.91)
(12, 2, '2009-02-11 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', 13.86)
(13, 16, '2009-02-19 00:00:00', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', 0.99)
(14, 17, '2009-03-04 00:00:00', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', 1.98)
(15, 19, '2009-03-04 00:00:00', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', 1.98)
(16, 21, '2009-03-05 00:00:00', '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', 3.96)
(17, 25, '2009-03-06 00:00:00', '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', 5.94)
(18, 31, '2009-03-09 00:00:00', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', 8.91)
(19, 40, '2009-03-14 00:00:00', '8, Rue Hanovre', 'Paris', None, 'France', '75002', 13.86)
(20, 54, '2009-03-22 00:00:00', '110 Raeburn Pl', 'Edinburgh ', None, 'United Kingdom', 'EH4 1HH', 0.99)
(21, 55, '2009-04-04 00:00:00', '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', 1.98)
(22, 57, '2009-04-04 00:00:00', 'Calle Lira, 198', 'Santiago', None, 'Chile', None, 1.98)
(23, 59, '2009-04-05 00:00:00', '3,Raj Bhavan Road', 'Bangalore', None, 'India', '560001', 3.96)
(24, 4, '2009-04-06 00:00:00', 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', 5.94)
(25, 10, '2009-04-09 00:00:00', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', 8.91)
(26, 19, '2009-04-14 00:00:00', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', 13.86)
(27, 33, '2009-04-22 00:00:00', '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', 0.99)
(28, 34, '2009-05-05 00:00:00', 'Rua da Assunção 53', 'Lisbon', None, 'Portugal', None, 1.98)
(29, 36, '2009-05-05 00:00:00', 'Tauentzienstraße 8', 'Berlin', None, 'Germany', '10789', 1.98)
(30, 38, '2009-05-06 00:00:00', 'Barbarossastraße 19', 'Berlin', None, 'Germany', '10779', 3.96)
(31, 42, '2009-05-07 00:00:00', '9, Place Louis Barthou', 'Bordeaux', None, 'France', '33000', 5.94)
(32, 48, '2009-05-10 00:00:00', 'Lijnbaansgracht 120bg', 'Amsterdam', 'VV', 'Netherlands', '1016', 8.91)
(33, 57, '2009-05-15 00:00:00', 'Calle Lira, 198', 'Santiago', None, 'Chile', None, 13.86)
(34, 12, '2009-05-23 00:00:00', 'Praça Pio X, 119', 'Rio de Janeiro', 'RJ', 'Brazil', '20040-020', 0.99)
(35, 13, '2009-06-05 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 1.98)
(36, 15, '2009-06-05 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 1.98)
(37, 17, '2009-06-06 00:00:00', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', 3.96)
(38, 21, '2009-06-07 00:00:00', '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', 5.94)
(39, 27, '2009-06-10 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 8.91)
(40, 36, '2009-06-15 00:00:00', 'Tauentzienstraße 8', 'Berlin', None, 'Germany', '10789', 13.86)
(41, 50, '2009-06-23 00:00:00', 'C/ San Bernardo 85', 'Madrid', None, 'Spain', '28015', 0.99)
(42, 51, '2009-07-06 00:00:00', 'Celsiusg. 9', 'Stockholm', None, 'Sweden', '11230', 1.98)
(43, 53, '2009-07-06 00:00:00', '113 Lupus St', 'London', None, 'United Kingdom', 'SW1V 3EN', 1.98)
(44, 55, '2009-07-07 00:00:00', '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', 3.96)
(45, 59, '2009-07-08 00:00:00', '3,Raj Bhavan Road', 'Bangalore', None, 'India', '560001', 5.94)
(46, 6, '2009-07-11 00:00:00', 'Rilská 3174/6', 'Prague', None, 'Czech Republic', '14300', 8.91)
(47, 15, '2009-07-16 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 13.86)
(48, 29, '2009-07-24 00:00:00', '796 Dundas Street West', 'Toronto', 'ON', 'Canada', 'M6J 1V1', 0.99)
(49, 30, '2009-08-06 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 1.98)
(50, 32, '2009-08-06 00:00:00', '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', 1.98)
(51, 34, '2009-08-07 00:00:00', 'Rua da Assunção 53', 'Lisbon', None, 'Portugal', None, 3.96)
(52, 38, '2009-08-08 00:00:00', 'Barbarossastraße 19', 'Berlin', None, 'Germany', '10779', 5.94)
(53, 44, '2009-08-11 00:00:00', 'Porthaninkatu 9', 'Helsinki', None, 'Finland', '00530', 8.91)
(54, 53, '2009-08-16 00:00:00', '113 Lupus St', 'London', None, 'United Kingdom', 'SW1V 3EN', 13.86)
(55, 8, '2009-08-24 00:00:00', 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', 0.99)
(56, 9, '2009-09-06 00:00:00', 'Sønder Boulevard 51', 'Copenhagen', None, 'Denmark', '1720', 1.98)
(57, 11, '2009-09-06 00:00:00', 'Av. Paulista, 2022', 'São Paulo', 'SP', 'Brazil', '01310-200', 1.98)
(58, 13, '2009-09-07 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 3.96)
(59, 17, '2009-09-08 00:00:00', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', 5.94)
(60, 23, '2009-09-11 00:00:00', '69 Salem Street', 'Boston', 'MA', 'USA', '2113', 8.91)
(61, 32, '2009-09-16 00:00:00', '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', 13.86)
(62, 46, '2009-09-24 00:00:00', '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', None, 0.99)
(63, 47, '2009-10-07 00:00:00', 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', 1.98)
(64, 49, '2009-10-07 00:00:00', 'Ordynacka 10', 'Warsaw', None, 'Poland', '00-358', 1.98)
(65, 51, '2009-10-08 00:00:00', 'Celsiusg. 9', 'Stockholm', None, 'Sweden', '11230', 3.96)
(66, 55, '2009-10-09 00:00:00', '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', 5.94)
(67, 2, '2009-10-12 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', 8.91)
(68, 11, '2009-10-17 00:00:00', 'Av. Paulista, 2022', 'São Paulo', 'SP', 'Brazil', '01310-200', 13.86)
(69, 25, '2009-10-25 00:00:00', '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', 0.99)
(70, 26, '2009-11-07 00:00:00', '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', 1.98)
(71, 28, '2009-11-07 00:00:00', '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', 1.98)
(72, 30, '2009-11-08 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 3.96)
(73, 34, '2009-11-09 00:00:00', 'Rua da Assunção 53', 'Lisbon', None, 'Portugal', None, 5.94)
(74, 40, '2009-11-12 00:00:00', '8, Rue Hanovre', 'Paris', None, 'France', '75002', 8.91)
(75, 49, '2009-11-17 00:00:00', 'Ordynacka 10', 'Warsaw', None, 'Poland', '00-358', 13.86)
(76, 4, '2009-11-25 00:00:00', 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', 0.99)
(77, 5, '2009-12-08 00:00:00', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', 1.98)
(78, 7, '2009-12-08 00:00:00', 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', None, 'Austria', '1010', 1.98)
(79, 9, '2009-12-09 00:00:00', 'Sønder Boulevard 51', 'Copenhagen', None, 'Denmark', '1720', 3.96)
(80, 13, '2009-12-10 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 5.94)
(81, 19, '2009-12-13 00:00:00', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', 8.91)
(82, 28, '2009-12-18 00:00:00', '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', 13.86)
(83, 42, '2009-12-26 00:00:00', '9, Place Louis Barthou', 'Bordeaux', None, 'France', '33000', 0.99)
(84, 43, '2010-01-08 00:00:00', '68, Rue Jouvence', 'Dijon', None, 'France', '21000', 1.98)
(85, 45, '2010-01-08 00:00:00', 'Erzsébet krt. 58.', 'Budapest', None, 'Hungary', 'H-1073', 1.98)
(86, 47, '2010-01-09 00:00:00', 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', 3.96)
(87, 51, '2010-01-10 00:00:00', 'Celsiusg. 9', 'Stockholm', None, 'Sweden', '11230', 6.94)
(88, 57, '2010-01-13 00:00:00', 'Calle Lira, 198', 'Santiago', None, 'Chile', None, 17.91)
(89, 7, '2010-01-18 00:00:00', 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', None, 'Austria', '1010', 18.86)
(90, 21, '2010-01-26 00:00:00', '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', 0.99)
(91, 22, '2010-02-08 00:00:00', '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', 1.98)
(92, 24, '2010-02-08 00:00:00', '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', 1.98)
(93, 26, '2010-02-09 00:00:00', '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', 3.96)
(94, 30, '2010-02-10 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 5.94)
(95, 36, '2010-02-13 00:00:00', 'Tauentzienstraße 8', 'Berlin', None, 'Germany', '10789', 8.91)
(96, 45, '2010-02-18 00:00:00', 'Erzsébet krt. 58.', 'Budapest', None, 'Hungary', 'H-1073', 21.86)
(97, 59, '2010-02-26 00:00:00', '3,Raj Bhavan Road', 'Bangalore', None, 'India', '560001', 1.99)
(98, 1, '2010-03-11 00:00:00', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', 3.98)
(99, 3, '2010-03-11 00:00:00', '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', 3.98)
(100, 5, '2010-03-12 00:00:00', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', 3.96)
(101, 9, '2010-03-13 00:00:00', 'Sønder Boulevard 51', 'Copenhagen', None, 'Denmark', '1720', 5.94)
(102, 15, '2010-03-16 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 9.91)
(103, 24, '2010-03-21 00:00:00', '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', 15.86)
(104, 38, '2010-03-29 00:00:00', 'Barbarossastraße 19', 'Berlin', None, 'Germany', '10779', 0.99)
(105, 39, '2010-04-11 00:00:00', '4, Rue Milton', 'Paris', None, 'France', '75009', 1.98)
(106, 41, '2010-04-11 00:00:00', '11, Place Bellecour', 'Lyon', None, 'France', '69002', 1.98)
(107, 43, '2010-04-12 00:00:00', '68, Rue Jouvence', 'Dijon', None, 'France', '21000', 3.96)
(108, 47, '2010-04-13 00:00:00', 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', 5.94)
(109, 53, '2010-04-16 00:00:00', '113 Lupus St', 'London', None, 'United Kingdom', 'SW1V 3EN', 8.91)
(110, 3, '2010-04-21 00:00:00', '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', 13.86)
(111, 17, '2010-04-29 00:00:00', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', 0.99)
(112, 18, '2010-05-12 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 1.98)
(113, 20, '2010-05-12 00:00:00', '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', 1.98)
(114, 22, '2010-05-13 00:00:00', '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', 3.96)
(115, 26, '2010-05-14 00:00:00', '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', 5.94)
(116, 32, '2010-05-17 00:00:00', '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', 8.91)
(117, 41, '2010-05-22 00:00:00', '11, Place Bellecour', 'Lyon', None, 'France', '69002', 13.86)
(118, 55, '2010-05-30 00:00:00', '421 Bourke Street', 'Sidney', 'NSW', 'Australia', '2010', 0.99)
(119, 56, '2010-06-12 00:00:00', '307 Macacha Güemes', 'Buenos Aires', None, 'Argentina', '1106', 1.98)
(120, 58, '2010-06-12 00:00:00', '12,Community Centre', 'Delhi', None, 'India', '110017', 1.98)
(121, 1, '2010-06-13 00:00:00', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', 3.96)
(122, 5, '2010-06-14 00:00:00', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', 5.94)
(123, 11, '2010-06-17 00:00:00', 'Av. Paulista, 2022', 'São Paulo', 'SP', 'Brazil', '01310-200', 8.91)
(124, 20, '2010-06-22 00:00:00', '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', 13.86)
(125, 34, '2010-06-30 00:00:00', 'Rua da Assunção 53', 'Lisbon', None, 'Portugal', None, 0.99)
(126, 35, '2010-07-13 00:00:00', 'Rua dos Campeões Europeus de Viena, 4350', 'Porto', None, 'Portugal', None, 1.98)
(127, 37, '2010-07-13 00:00:00', 'Berger Straße 10', 'Frankfurt', None, 'Germany', '60316', 1.98)
(128, 39, '2010-07-14 00:00:00', '4, Rue Milton', 'Paris', None, 'France', '75009', 3.96)
(129, 43, '2010-07-15 00:00:00', '68, Rue Jouvence', 'Dijon', None, 'France', '21000', 5.94)
(130, 49, '2010-07-18 00:00:00', 'Ordynacka 10', 'Warsaw', None, 'Poland', '00-358', 8.91)
(131, 58, '2010-07-23 00:00:00', '12,Community Centre', 'Delhi', None, 'India', '110017', 13.86)
(132, 13, '2010-07-31 00:00:00', 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', 0.99)
(133, 14, '2010-08-13 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 1.98)
(134, 16, '2010-08-13 00:00:00', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', 1.98)
(135, 18, '2010-08-14 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 3.96)
(136, 22, '2010-08-15 00:00:00', '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', 5.94)
(137, 28, '2010-08-18 00:00:00', '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', 8.91)
(138, 37, '2010-08-23 00:00:00', 'Berger Straße 10', 'Frankfurt', None, 'Germany', '60316', 13.86)
(139, 51, '2010-08-31 00:00:00', 'Celsiusg. 9', 'Stockholm', None, 'Sweden', '11230', 0.99)
(140, 52, '2010-09-13 00:00:00', '202 Hoxton Street', 'London', None, 'United Kingdom', 'N1 5LH', 1.98)
(141, 54, '2010-09-13 00:00:00', '110 Raeburn Pl', 'Edinburgh ', None, 'United Kingdom', 'EH4 1HH', 1.98)
(142, 56, '2010-09-14 00:00:00', '307 Macacha Güemes', 'Buenos Aires', None, 'Argentina', '1106', 3.96)
(143, 1, '2010-09-15 00:00:00', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', 5.94)
(144, 7, '2010-09-18 00:00:00', 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', None, 'Austria', '1010', 8.91)
(145, 16, '2010-09-23 00:00:00', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', 13.86)
(146, 30, '2010-10-01 00:00:00', '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', 0.99)
(147, 31, '2010-10-14 00:00:00', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', 1.98)
(148, 33, '2010-10-14 00:00:00', '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', 1.98)
(149, 35, '2010-10-15 00:00:00', 'Rua dos Campeões Europeus de Viena, 4350', 'Porto', None, 'Portugal', None, 3.96)
(150, 39, '2010-10-16 00:00:00', '4, Rue Milton', 'Paris', None, 'France', '75009', 5.94)
(151, 45, '2010-10-19 00:00:00', 'Erzsébet krt. 58.', 'Budapest', None, 'Hungary', 'H-1073', 8.91)
(152, 54, '2010-10-24 00:00:00', '110 Raeburn Pl', 'Edinburgh ', None, 'United Kingdom', 'EH4 1HH', 13.86)
(153, 9, '2010-11-01 00:00:00', 'Sønder Boulevard 51', 'Copenhagen', None, 'Denmark', '1720', 0.99)
(154, 10, '2010-11-14 00:00:00', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', 1.98)
(155, 12, '2010-11-14 00:00:00', 'Praça Pio X, 119', 'Rio de Janeiro', 'RJ', 'Brazil', '20040-020', 1.98)
(156, 14, '2010-11-15 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 3.96)
(157, 18, '2010-11-16 00:00:00', '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', 5.94)
(158, 24, '2010-11-19 00:00:00', '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', 8.91)
(159, 33, '2010-11-24 00:00:00', '5112 48 Street', 'Yellowknife', 'NT', 'Canada', 'X1A 1N6', 13.86)
(160, 47, '2010-12-02 00:00:00', 'Via Degli Scipioni, 43', 'Rome', 'RM', 'Italy', '00192', 0.99)
(161, 48, '2010-12-15 00:00:00', 'Lijnbaansgracht 120bg', 'Amsterdam', 'VV', 'Netherlands', '1016', 1.98)
(162, 50, '2010-12-15 00:00:00', 'C/ San Bernardo 85', 'Madrid', None, 'Spain', '28015', 1.98)
(163, 52, '2010-12-16 00:00:00', '202 Hoxton Street', 'London', None, 'United Kingdom', 'N1 5LH', 3.96)
(164, 56, '2010-12-17 00:00:00', '307 Macacha Güemes', 'Buenos Aires', None, 'Argentina', '1106', 5.94)
(165, 3, '2010-12-20 00:00:00', '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', 8.91)
(166, 12, '2010-12-25 00:00:00', 'Praça Pio X, 119', 'Rio de Janeiro', 'RJ', 'Brazil', '20040-020', 13.86)
(167, 26, '2011-01-02 00:00:00', '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', 0.99)
(168, 27, '2011-01-15 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 1.98)
(169, 29, '2011-01-15 00:00:00', '796 Dundas Street West', 'Toronto', 'ON', 'Canada', 'M6J 1V1', 1.98)
(170, 31, '2011-01-16 00:00:00', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', 3.96)
(171, 35, '2011-01-17 00:00:00', 'Rua dos Campeões Europeus de Viena, 4350', 'Porto', None, 'Portugal', None, 5.94)
(172, 41, '2011-01-20 00:00:00', '11, Place Bellecour', 'Lyon', None, 'France', '69002', 8.91)
(173, 50, '2011-01-25 00:00:00', 'C/ San Bernardo 85', 'Madrid', None, 'Spain', '28015', 13.86)
(174, 5, '2011-02-02 00:00:00', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', 0.99)
(175, 6, '2011-02-15 00:00:00', 'Rilská 3174/6', 'Prague', None, 'Czech Republic', '14300', 1.98)
(176, 8, '2011-02-15 00:00:00', 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', 1.98)
(177, 10, '2011-02-16 00:00:00', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', 3.96)
(178, 14, '2011-02-17 00:00:00', '8210 111 ST NW', 'Edmonton', 'AB', 'Canada', 'T6G 2C7', 5.94)
(179, 20, '2011-02-20 00:00:00', '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', 8.91)
(180, 29, '2011-02-25 00:00:00', '796 Dundas Street West', 'Toronto', 'ON', 'Canada', 'M6J 1V1', 13.86)
(181, 43, '2011-03-05 00:00:00', '68, Rue Jouvence', 'Dijon', None, 'France', '21000', 0.99)
(182, 44, '2011-03-18 00:00:00', 'Porthaninkatu 9', 'Helsinki', None, 'Finland', '00530', 1.98)
(183, 46, '2011-03-18 00:00:00', '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', None, 1.98)
(184, 48, '2011-03-19 00:00:00', 'Lijnbaansgracht 120bg', 'Amsterdam', 'VV', 'Netherlands', '1016', 3.96)
(185, 52, '2011-03-20 00:00:00', '202 Hoxton Street', 'London', None, 'United Kingdom', 'N1 5LH', 5.94)
(186, 58, '2011-03-23 00:00:00', '12,Community Centre', 'Delhi', None, 'India', '110017', 8.91)
(187, 8, '2011-03-28 00:00:00', 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', 13.86)
(188, 22, '2011-04-05 00:00:00', '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', 0.99)
(189, 23, '2011-04-18 00:00:00', '69 Salem Street', 'Boston', 'MA', 'USA', '2113', 1.98)
(190, 25, '2011-04-18 00:00:00', '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', 1.98)
(191, 27, '2011-04-19 00:00:00', '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', 3.96)
(192, 31, '2011-04-20 00:00:00', '194A Chain Lake Drive', 'Halifax', 'NS', 'Canada', 'B3S 1C5', 5.94)
(193, 37, '2011-04-23 00:00:00', 'Berger Straße 10', 'Frankfurt', None, 'Germany', '60316', 14.91)
(194, 46, '2011-04-28 00:00:00', '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', None, 21.86)
(195, 1, '2011-05-06 00:00:00', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', 0.99)
(196, 2, '2011-05-19 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', 1.98)
(197, 4, '2011-05-19 00:00:00', 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', 1.98)
(198, 6, '2011-05-20 00:00:00', 'Rilská 3174/6', 'Prague', None, 'Czech Republic', '14300', 3.96)
(199, 10, '2011-05-21 00:00:00', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', 5.94)
(200, 16, '2011-05-24 00:00:00', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', 8.91)
(201, 25, '2011-05-29 00:00:00', '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', 18.86)
(202, 39, '2011-06-06 00:00:00', '4, Rue Milton', 'Paris', None, 'France', '75009', 1.99)
(203, 40, '2011-06-19 00:00:00', '8, Rue Hanovre', 'Paris', None, 'France', '75002', 2.98)

statistical analysis

In [72]:
import pandas as pd

In [18]:
df1 = pd.read_sql_query(query1, con)

In [19]:
df2 = pd.read_sql_query(query2, con)

In [20]:
df3 = pd.read_sql_query(query2, con)

In [21]:
df1

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
5,6,Mitchell,Michael,IT Manager,1.0,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
6,7,King,Robert,IT Staff,6.0,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
7,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

In [22]:
df2

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4
5,6,Helena,Holý,None,Rilská 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5
6,7,Astrid,Gruber,None,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5
7,8,Daan,Peeters,None,Grétrystraat 63,Brussels,None,Belgium,1000,+32 02 219 03 03,None,daan_peeters@apple.be,4
8,9,Kara,Nielsen,None,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,+453 3331 9991,None,kara.nielsen@jubii.dk,4
9,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4
10,11,Alexandre,Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br,5
11,12,Roberto,Almeida,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
12,13,Fernanda,Ramos,None,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,+55 (61) 3363-5547,+55 (61) 3363-7855,fernadaramos4@uol.com.br,4
13,14,Mark,Philips,Telus,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,+1 (780) 434-4554,+1 (780) 434-5565,mphilips12@shaw.ca,5
14,15,Jennifer,Peterson,Rogers Canada,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,+1 (604) 688-2255,+1 (604) 688-8756,jenniferp@rogers.ca,3
15,16,Frank,Harris,Google Inc.,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,+1 (650) 253-0000,+1 (650) 253-0000,fharris@google.com,4
16,17,Jack,Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com,5
17,18,Michelle,Brooks,None,627 Broadway,New York,NY,USA,10012-2612,+1 (212) 221-3546,+1 (212) 221-4679,michelleb@aol.com,3
18,19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3
19,20,Dan,Miller,None,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,+1 (650) 644-3358,None,dmiller@comcast.com,4
20,21,Kathy,Chase,None,801 W 4th Street,Reno,NV,USA,89503,+1 (775) 223-7665,None,kachase@hotmail.com,5
21,22,Heather,Leacock,None,120 S Orange Ave,Orlando,FL,USA,32801,+1 (407) 999-7788,None,hleacock@gmail.com,4
22,23,John,Gordon,None,69 Salem Street,Boston,MA,USA,2113,+1 (617) 522-1333,None,johngordon22@yahoo.com,4
23,24,Frank,Ralston,None,162 E Superior Street,Chicago,IL,USA,60611,+1 (312) 332-3232,None,fralston@gmail.com,3
24,25,Victor,Stevens,None,319 N. Frances Street,Madison,WI,USA,53703,+1 (608) 257-0597,None,vstevens@yahoo.com,5
25,26,Richard,Cunningham,None,2211 W Berry Street,Fort Worth,TX,USA,76110,+1 (817) 924-7272,None,ricunningham@hotmail.com,4
26,27,Patrick,Gray,None,1033 N Park Ave,Tucson,AZ,USA,85719,+1 (520) 622-4200,None,patrick.gray@aol.com,4
27,28,Julia,Barnett,None,302 S 700 E,Salt Lake City,UT,USA,84102,+1 (801) 531-7272,None,jubarnett@gmail.com,5
28,29,Robert,Brown,None,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,+1 (416) 363-8888,None,robbrown@shaw.ca,3
29,30,Edward,Francis,None,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,+1 (613) 234-3322,None,edfrancis@yachoo.ca,3
30,31,Martha,Silk,None,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,+1 (902) 450-0450,None,marthasilk@gmail.com,5
31,32,Aaron,Mitchell,None,696 Osborne Street,Winnipeg,MB,Canada,R3L 2B9,+1 (204) 452-6452,None,aaronmitchell@yahoo.ca,4
32,33,Ellie,Sullivan,None,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,+1 (867) 920-2233,None,ellie.sullivan@shaw.ca,3
33,34,João,Fernandes,None,Rua da Assunção 53,Lisbon,None,Portugal,None,+351 (213) 466-111,None,jfernandes@yahoo.pt,4
34,35,Madalena,Sampaio,None,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,+351 (225) 022-448,None,masampaio@sapo.pt,4
35,36,Hannah,Schneider,None,Tauentzienstraße 8,Berlin,None,Germany,10789,+49 030 26550280,None,hannah.schneider@yahoo.de,5
36,37,Fynn,Zimmermann,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
37,38,Niklas,Schröder,None,Barbarossastraße 19,Berlin,None,Germany,10779,+49 030 2141444,None,nschroder@surfeu.de,3
38,39,Camille,Bernard,None,"4, Rue Milton",Paris,None,France,75009,+33 01 49 70 65 65,None,camille.bernard@yahoo.fr,4
39,40,Dominique,Lefebvre,None,"8, Rue Hanovre",Paris,None,France,75002,+33 01 47 42 71 71,None,dominiquelefebvre@gmail.com,4
40,41,Marc,Dubois,None,"11, Place Bellecour",Lyon,None,France,69002,+33 04 78 30 30 30,None,marc.dubois@hotmail.com,5
41,42,Wyatt,Girard,None,"9, Place Louis Barthou",Bordeaux,None,France,33000,+33 05 56 96 96 96,None,wyatt.girard@yahoo.fr,3
42,43,Isabelle,Mercier,None,"68, Rue Jouvence",Dijon,None,France,21000,+33 03 80 73 66 99,None,isabelle_mercier@apple.fr,3
43,44,Terhi,Hämäläinen,None,Porthaninkatu 9,Helsinki,None,Finland,00530,+358 09 870 2000,None,terhi.hamalainen@apple.fi,3
44,45,Ladislav,Kovács,None,Erzsébet krt. 58.,Budapest,None,Hungary,H-1073,None,None,ladislav_kovacs@apple.hu,3
45,46,Hugh,O'Reilly,None,3 Chatham Street,Dublin,Dublin,Ireland,None,+353 01 6792424,None,hughoreilly@apple.ie,3
46,47,Lucas,Mancini,None,"Via Degli Scipioni, 43",Rome,RM,Italy,00192,+39 06 39733434,None,lucas.mancini@yahoo.it,5
47,48,Johannes,Van der Berg,None,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,+31 020 6223130,None,johavanderberg@yahoo.nl,5
48,49,Stanisław,Wójcik,None,Ordynacka 10,Warsaw,None,Poland,00-358,+48 22 828 37 39,None,stanisław.wójcik@wp.pl,4
49,50,Enrique,Muñoz,None,C/ San Bernardo 85,Madrid,None,Spain,28015,+34 914 454 454,None,enrique_munoz@yahoo.es,5
50,51,Joakim,Johansson,None,Celsiusg. 9,Stockholm,None,Sweden,11230,+46 08-651 52 52,None,joakim.johansson@yahoo.se,5
51,52,Emma,Jones,None,202 Hoxton Street,London,None,United Kingdom,N1 5LH,+44 020 7707 0707,None,emma_jones@hotmail.com,3
52,53,Phil,Hughes,None,113 Lupus St,London,None,United Kingdom,SW1V 3EN,+44 020 7976 5722,None,phil.hughes@gmail.com,3
53,54,Steve,Murray,None,110 Raeburn Pl,Edinburgh,None,United Kingdom,EH4 1HH,+44 0131 315 3300,None,steve.murray@yahoo.uk,5
54,55,Mark,Taylor,None,421 Bourke Street,Sidney,NSW,Australia,2010,+61 (02) 9332 3633,None,mark.taylor@yahoo.au,4
55,56,Diego,Gutiérrez,None,307 Macacha Güemes,Buenos Aires,None,Argentina,1106,+54 (0)11 4311 4333,None,diego.gutierrez@yahoo.ar,4
56,57,Luis,Rojas,None,"Calle Lira, 198",Santiago,None,Chile,None,+56 (0)2 635 4444,None,luisrojas@yahoo.cl,5
57,58,Manoj,Pareek,None,"12,Community Centre",Delhi,None,India,110017,+91 0124 39883988,None,manoj.pareek@rediff.com,3
58,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,None,puja_srivastava@yahoo.in,3

In [23]:
df3

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4
5,6,Helena,Holý,None,Rilská 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5
6,7,Astrid,Gruber,None,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5
7,8,Daan,Peeters,None,Grétrystraat 63,Brussels,None,Belgium,1000,+32 02 219 03 03,None,daan_peeters@apple.be,4
8,9,Kara,Nielsen,None,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,+453 3331 9991,None,kara.nielsen@jubii.dk,4
9,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4
10,11,Alexandre,Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br,5
11,12,Roberto,Almeida,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
12,13,Fernanda,Ramos,None,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,+55 (61) 3363-5547,+55 (61) 3363-7855,fernadaramos4@uol.com.br,4
13,14,Mark,Philips,Telus,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,+1 (780) 434-4554,+1 (780) 434-5565,mphilips12@shaw.ca,5
14,15,Jennifer,Peterson,Rogers Canada,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,+1 (604) 688-2255,+1 (604) 688-8756,jenniferp@rogers.ca,3
15,16,Frank,Harris,Google Inc.,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,+1 (650) 253-0000,+1 (650) 253-0000,fharris@google.com,4
16,17,Jack,Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com,5
17,18,Michelle,Brooks,None,627 Broadway,New York,NY,USA,10012-2612,+1 (212) 221-3546,+1 (212) 221-4679,michelleb@aol.com,3
18,19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3
19,20,Dan,Miller,None,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,+1 (650) 644-3358,None,dmiller@comcast.com,4
20,21,Kathy,Chase,None,801 W 4th Street,Reno,NV,USA,89503,+1 (775) 223-7665,None,kachase@hotmail.com,5
21,22,Heather,Leacock,None,120 S Orange Ave,Orlando,FL,USA,32801,+1 (407) 999-7788,None,hleacock@gmail.com,4
22,23,John,Gordon,None,69 Salem Street,Boston,MA,USA,2113,+1 (617) 522-1333,None,johngordon22@yahoo.com,4
23,24,Frank,Ralston,None,162 E Superior Street,Chicago,IL,USA,60611,+1 (312) 332-3232,None,fralston@gmail.com,3
24,25,Victor,Stevens,None,319 N. Frances Street,Madison,WI,USA,53703,+1 (608) 257-0597,None,vstevens@yahoo.com,5
25,26,Richard,Cunningham,None,2211 W Berry Street,Fort Worth,TX,USA,76110,+1 (817) 924-7272,None,ricunningham@hotmail.com,4
26,27,Patrick,Gray,None,1033 N Park Ave,Tucson,AZ,USA,85719,+1 (520) 622-4200,None,patrick.gray@aol.com,4
27,28,Julia,Barnett,None,302 S 700 E,Salt Lake City,UT,USA,84102,+1 (801) 531-7272,None,jubarnett@gmail.com,5
28,29,Robert,Brown,None,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,+1 (416) 363-8888,None,robbrown@shaw.ca,3
29,30,Edward,Francis,None,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,+1 (613) 234-3322,None,edfrancis@yachoo.ca,3
30,31,Martha,Silk,None,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,+1 (902) 450-0450,None,marthasilk@gmail.com,5
31,32,Aaron,Mitchell,None,696 Osborne Street,Winnipeg,MB,Canada,R3L 2B9,+1 (204) 452-6452,None,aaronmitchell@yahoo.ca,4
32,33,Ellie,Sullivan,None,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,+1 (867) 920-2233,None,ellie.sullivan@shaw.ca,3
33,34,João,Fernandes,None,Rua da Assunção 53,Lisbon,None,Portugal,None,+351 (213) 466-111,None,jfernandes@yahoo.pt,4
34,35,Madalena,Sampaio,None,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,+351 (225) 022-448,None,masampaio@sapo.pt,4
35,36,Hannah,Schneider,None,Tauentzienstraße 8,Berlin,None,Germany,10789,+49 030 26550280,None,hannah.schneider@yahoo.de,5
36,37,Fynn,Zimmermann,None,Berger Straße 10,Frankfurt,None,Germany,60316,+49 069 40598889,None,fzimmermann@yahoo.de,3
37,38,Niklas,Schröder,None,Barbarossastraße 19,Berlin,None,Germany,10779,+49 030 2141444,None,nschroder@surfeu.de,3
38,39,Camille,Bernard,None,"4, Rue Milton",Paris,None,France,75009,+33 01 49 70 65 65,None,camille.bernard@yahoo.fr,4
39,40,Dominique,Lefebvre,None,"8, Rue Hanovre",Paris,None,France,75002,+33 01 47 42 71 71,None,dominiquelefebvre@gmail.com,4
40,41,Marc,Dubois,None,"11, Place Bellecour",Lyon,None,France,69002,+33 04 78 30 30 30,None,marc.dubois@hotmail.com,5
41,42,Wyatt,Girard,None,"9, Place Louis Barthou",Bordeaux,None,France,33000,+33 05 56 96 96 96,None,wyatt.girard@yahoo.fr,3
42,43,Isabelle,Mercier,None,"68, Rue Jouvence",Dijon,None,France,21000,+33 03 80 73 66 99,None,isabelle_mercier@apple.fr,3
43,44,Terhi,Hämäläinen,None,Porthaninkatu 9,Helsinki,None,Finland,00530,+358 09 870 2000,None,terhi.hamalainen@apple.fi,3
44,45,Ladislav,Kovács,None,Erzsébet krt. 58.,Budapest,None,Hungary,H-1073,None,None,ladislav_kovacs@apple.hu,3
45,46,Hugh,O'Reilly,None,3 Chatham Street,Dublin,Dublin,Ireland,None,+353 01 6792424,None,hughoreilly@apple.ie,3
46,47,Lucas,Mancini,None,"Via Degli Scipioni, 43",Rome,RM,Italy,00192,+39 06 39733434,None,lucas.mancini@yahoo.it,5
47,48,Johannes,Van der Berg,None,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,+31 020 6223130,None,johavanderberg@yahoo.nl,5
48,49,Stanisław,Wójcik,None,Ordynacka 10,Warsaw,None,Poland,00-358,+48 22 828 37 39,None,stanisław.wójcik@wp.pl,4
49,50,Enrique,Muñoz,None,C/ San Bernardo 85,Madrid,None,Spain,28015,+34 914 454 454,None,enrique_munoz@yahoo.es,5
50,51,Joakim,Johansson,None,Celsiusg. 9,Stockholm,None,Sweden,11230,+46 08-651 52 52,None,joakim.johansson@yahoo.se,5
51,52,Emma,Jones,None,202 Hoxton Street,London,None,United Kingdom,N1 5LH,+44 020 7707 0707,None,emma_jones@hotmail.com,3
52,53,Phil,Hughes,None,113 Lupus St,London,None,United Kingdom,SW1V 3EN,+44 020 7976 5722,None,phil.hughes@gmail.com,3
53,54,Steve,Murray,None,110 Raeburn Pl,Edinburgh,None,United Kingdom,EH4 1HH,+44 0131 315 3300,None,steve.murray@yahoo.uk,5
54,55,Mark,Taylor,None,421 Bourke Street,Sidney,NSW,Australia,2010,+61 (02) 9332 3633,None,mark.taylor@yahoo.au,4
55,56,Diego,Gutiérrez,None,307 Macacha Güemes,Buenos Aires,None,Argentina,1106,+54 (0)11 4311 4333,None,diego.gutierrez@yahoo.ar,4
56,57,Luis,Rojas,None,"Calle Lira, 198",Santiago,None,Chile,None,+56 (0)2 635 4444,None,luisrojas@yahoo.cl,5
57,58,Manoj,Pareek,None,"12,Community Centre",Delhi,None,India,110017,+91 0124 39883988,None,manoj.pareek@rediff.com,3
58,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,None,puja_srivastava@yahoo.in,3

In [57]:
df1.to_csv("employeesTable.csv")

In [58]:
df2.to_csv("customersTable.csv")

In [59]:
df3.to_csv("invoicesTable.csv")

In [102]:
sc.stop()

import pyspark

In [103]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

count of customers

In [60]:
##select count(customerID) as "Number of Customers" from customers
from pyspark.sql.functions import to_timestamp,col,lit

In [61]:
customers = spark.read.csv('customersTable.csv',header=True, inferSchema=True)

In [62]:
employees = spark.read.csv('employeesTable.csv',header=True, inferSchema=True)

In [63]:
invoices = spark.read.csv('invoicesTable.csv',header=True, inferSchema=True)

create schema

In [134]:
from pyspark.sql.types import StructType, StructField, StringType, TimestampType, BooleanType, DoubleType, IntegerType

In [123]:
customers.show(10)

+---+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
|_c0|CustomerId|FirstName|   LastName|             Company|             Address|               City|State|       Country|PostalCode|             Phone|               Fax|               Email|SupportRepId|
+---+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
|  0|         1|     Luís|  Gonçalves|Embraer - Empresa...|Av. Brigadeiro Fa...|São José dos Campos|   SP|        Brazil| 12227-000|+55 (12) 3923-5555|+55 (12) 3923-5566|luisg@embraer.com.br|           3|
|  1|         2|   Leonie|     Köhler|                null|Theodor-Heuss-Str...|          Stuttgart| null|       Germany|     70174|  +49 0711 2842222|              null|leonekohler@surfe...|           5|
|  2|         3| François|   Tremblay|                null|   1498 rue Bélanger|           Montréal|   QC|        Canada|   H2G 1A7| +1 (514) 721-4711|              null| ftremblay@gmail.com|           3|
|  3|         4|    Bjørn|     Hansen|                null|    Ullevålsveien 14|               Oslo| null|        Norway|      0171|   +47 22 44 22 22|              null|bjorn.hansen@yaho...|           4|
|  4|         5|František|Wichterlová|    JetBrains s.r.o.|       Klanova 9/506|             Prague| null|Czech Republic|     14700|  +420 2 4172 5555|  +420 2 4172 5555|frantisekw@jetbra...|           4|
|  5|         6|   Helena|       Holý|                null|       Rilská 3174/6|             Prague| null|Czech Republic|     14300|  +420 2 4177 0449|              null|     hholy@gmail.com|           5|
|  6|         7|   Astrid|     Gruber|                null|Rotenturmstraße 4...|             Vienne| null|       Austria|      1010|    +43 01 5134505|              null|astrid.gruber@app...|           5|
|  7|         8|     Daan|    Peeters|                null|     Grétrystraat 63|           Brussels| null|       Belgium|      1000|  +32 02 219 03 03|              null|daan_peeters@appl...|           4|
|  8|         9|     Kara|    Nielsen|                null| Sønder Boulevard 51|         Copenhagen| null|       Denmark|      1720|    +453 3331 9991|              null|kara.nielsen@jubi...|           4|
|  9|        10|  Eduardo|    Martins|    Woodstock Discos|Rua Dr. Falcão Fi...|          São Paulo|   SP|        Brazil| 01007-010|+55 (11) 3033-5446|+55 (11) 3033-4564|eduardo@woodstock...|           4|
+---+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
only showing top 10 rows

In [131]:
employees.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- EmployeeId: integer (nullable = true)
 |-- LastName: string (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- ReportsTo: double (nullable = true)
 |-- BirthDate: string (nullable = true)
 |-- HireDate: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- PostalCode: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- Fax: string (nullable = true)
 |-- Email: string (nullable = true)

In [280]:
customers.columns

['_c0',
 'CustomerId',
 'FirstName',
 'LastName',
 'Company',
 'Address',
 'City',
 'State',
 'Country',
 'PostalCode',
 'Phone',
 'Fax',
 'Email',
 'SupportRepId']

In [149]:
employees.count()

8

In [127]:
invoices.show(10)

+---+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
|_c0|CustomerId|FirstName|   LastName|             Company|             Address|               City|State|       Country|PostalCode|             Phone|               Fax|               Email|SupportRepId|
+---+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
|  0|         1|     Luís|  Gonçalves|Embraer - Empresa...|Av. Brigadeiro Fa...|São José dos Campos|   SP|        Brazil| 12227-000|+55 (12) 3923-5555|+55 (12) 3923-5566|luisg@embraer.com.br|           3|
|  1|         2|   Leonie|     Köhler|                null|Theodor-Heuss-Str...|          Stuttgart| null|       Germany|     70174|  +49 0711 2842222|              null|leonekohler@surfe...|           5|
|  2|         3| François|   Tremblay|                null|   1498 rue Bélanger|           Montréal|   QC|        Canada|   H2G 1A7| +1 (514) 721-4711|              null| ftremblay@gmail.com|           3|
|  3|         4|    Bjørn|     Hansen|                null|    Ullevålsveien 14|               Oslo| null|        Norway|      0171|   +47 22 44 22 22|              null|bjorn.hansen@yaho...|           4|
|  4|         5|František|Wichterlová|    JetBrains s.r.o.|       Klanova 9/506|             Prague| null|Czech Republic|     14700|  +420 2 4172 5555|  +420 2 4172 5555|frantisekw@jetbra...|           4|
|  5|         6|   Helena|       Holý|                null|       Rilská 3174/6|             Prague| null|Czech Republic|     14300|  +420 2 4177 0449|              null|     hholy@gmail.com|           5|
|  6|         7|   Astrid|     Gruber|                null|Rotenturmstraße 4...|             Vienne| null|       Austria|      1010|    +43 01 5134505|              null|astrid.gruber@app...|           5|
|  7|         8|     Daan|    Peeters|                null|     Grétrystraat 63|           Brussels| null|       Belgium|      1000|  +32 02 219 03 03|              null|daan_peeters@appl...|           4|
|  8|         9|     Kara|    Nielsen|                null| Sønder Boulevard 51|         Copenhagen| null|       Denmark|      1720|    +453 3331 9991|              null|kara.nielsen@jubi...|           4|
|  9|        10|  Eduardo|    Martins|    Woodstock Discos|Rua Dr. Falcão Fi...|          São Paulo|   SP|        Brazil| 01007-010|+55 (11) 3033-5446|+55 (11) 3033-4564|eduardo@woodstock...|           4|
+---+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+------------------+------------------+--------------------+------------+
only showing top 10 rows

In [222]:
invoices.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- PostalCode: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- Fax: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- SupportRepId: integer (nullable = true)

select columns

In [153]:
customers_sub = customers.select('LastName','FirstName')
customers_sub.show(10)

+-----------+---------+
|   LastName|FirstName|
+-----------+---------+
|  Gonçalves|     Luís|
|     Köhler|   Leonie|
|   Tremblay| François|
|     Hansen|    Bjørn|
|Wichterlová|František|
|       Holý|   Helena|
|     Gruber|   Astrid|
|    Peeters|     Daan|
|    Nielsen|     Kara|
|    Martins|  Eduardo|
+-----------+---------+
only showing top 10 rows

drop duplication

In [154]:
customers_sub_nodup = customers_sub.dropDuplicates()

filter

In [166]:
customers.filter((col('State') == 'CA')| (col('Country') == 'USA')).count()

13

invoices sales * 10

In [182]:
type(invoices)

pyspark.sql.dataframe.DataFrame

In [184]:
invoices.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- FirstName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- PostalCode: string (nullable = true)
 |-- Phone: string (nullable = true)
 |-- Fax: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- SupportRepId: integer (nullable = true)

change the schema

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, TimestampType, BooleanType, DoubleType, IntegerType

In [198]:
data_schema = [StructField('_c0', IntegerType(), True),\
               StructField('CustomerId', IntegerType(), True),\
               StructField('FirstName', StringType(), True),\
               StructField('LastName', StringType(), True),\
               StructField('Company', StringType(), True),\
               StructField('Address', StringType(), True),\
               StructField('City', StringType(), True),\
               StructField('State', StringType(), True),\
              StructField('Country', StringType(), True),\
              StructField('PostalCode', IntegerType(), True),\
              StructField('Phone', IntegerType(), True),\
              StructField('Fax', IntegerType(), True),\
              StructField('Email', StringType(), True),\
              StructField('SupportRepId', IntegerType(), True)]

In [200]:
final_struc = StructType(fields = data_schema)

In [201]:
invoices_new =spark.read.csv('invoicesTable.csv', schema=final_struc, header = True)

In [203]:
invoices_new.show(10)

+---+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+-----+----+--------------------+------------+
|_c0|CustomerId|FirstName|   LastName|             Company|             Address|               City|State|       Country|PostalCode|Phone| Fax|               Email|SupportRepId|
+---+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+-----+----+--------------------+------------+
|  0|         1|     Luís|  Gonçalves|Embraer - Empresa...|Av. Brigadeiro Fa...|São José dos Campos|   SP|        Brazil|      null| null|null|luisg@embraer.com.br|           3|
|  1|         2|   Leonie|     Köhler|                null|Theodor-Heuss-Str...|          Stuttgart| null|       Germany|     70174| null|null|leonekohler@surfe...|           5|
|  2|         3| François|   Tremblay|                null|   1498 rue Bélanger|           Montréal|   QC|        Canada|      null| null|null| ftremblay@gmail.com|           3|
|  3|         4|    Bjørn|     Hansen|                null|    Ullevålsveien 14|               Oslo| null|        Norway|       171| null|null|bjorn.hansen@yaho...|           4|
|  4|         5|František|Wichterlová|    JetBrains s.r.o.|       Klanova 9/506|             Prague| null|Czech Republic|     14700| null|null|frantisekw@jetbra...|           4|
|  5|         6|   Helena|       Holý|                null|       Rilská 3174/6|             Prague| null|Czech Republic|     14300| null|null|     hholy@gmail.com|           5|
|  6|         7|   Astrid|     Gruber|                null|Rotenturmstraße 4...|             Vienne| null|       Austria|      1010| null|null|astrid.gruber@app...|           5|
|  7|         8|     Daan|    Peeters|                null|     Grétrystraat 63|           Brussels| null|       Belgium|      1000| null|null|daan_peeters@appl...|           4|
|  8|         9|     Kara|    Nielsen|                null| Sønder Boulevard 51|         Copenhagen| null|       Denmark|      1720| null|null|kara.nielsen@jubi...|           4|
|  9|        10|  Eduardo|    Martins|    Woodstock Discos|Rua Dr. Falcão Fi...|          São Paulo|   SP|        Brazil|      null| null|null|eduardo@woodstock...|           4|
+---+----------+---------+-----------+--------------------+--------------------+-------------------+-----+--------------+----------+-----+----+--------------------+------------+
only showing top 10 rows

In [223]:
invoices.select(invoices["Phone"], invoices["PostalCode"]+ 1).show()

+------------------+----------------+
|             Phone|(PostalCode + 1)|
+------------------+----------------+
|+55 (12) 3923-5555|            null|
|  +49 0711 2842222|         70175.0|
| +1 (514) 721-4711|            null|
|   +47 22 44 22 22|           172.0|
|  +420 2 4172 5555|         14701.0|
|  +420 2 4177 0449|         14301.0|
|    +43 01 5134505|          1011.0|
|  +32 02 219 03 03|          1001.0|
|    +453 3331 9991|          1721.0|
|+55 (11) 3033-5446|            null|
|+55 (11) 3055-3278|            null|
|+55 (21) 2271-7000|            null|
|+55 (61) 3363-5547|            null|
| +1 (780) 434-4554|            null|
| +1 (604) 688-2255|            null|
| +1 (650) 253-0000|            null|
| +1 (425) 882-8080|            null|
| +1 (212) 221-3546|            null|
| +1 (408) 996-1010|         95015.0|
| +1 (650) 644-3358|            null|
+------------------+----------------+
only showing top 20 rows

In [160]:
customers.groupby('State','Company').count().orderBy('count', ascending = True).show()

+------+--------------------+-----+
| State|             Company|count|
+------+--------------------+-----+
|    SP|Embraer - Empresa...|    1|
|    VV|                null|    1|
|    CA|         Google Inc.|    1|
|    AZ|                null|    1|
|    NT|                null|    1|
|Dublin|                null|    1|
|    NS|                null|    1|
|    RJ|              Riotur|    1|
|    BC|       Rogers Canada|    1|
|    NV|                null|    1|
|    WI|                null|    1|
|    CA|                null|    1|
|    AB|               Telus|    1|
|    IL|                null|    1|
|    SP|    Woodstock Discos|    1|
|    MB|                null|    1|
|    CA|          Apple Inc.|    1|
|    NY|                null|    1|
|    QC|                null|    1|
|    TX|                null|    1|
+------+--------------------+-----+
only showing top 20 rows

spark query

In [174]:
##create temperary table
customers.createOrReplaceTempView("customers")
customer_f = spark.sql('SELECT * FROM customers WHERE Country =="USA"')
customer_f.show(10)

+---+----------+---------+--------+--------------------+--------------------+-------------+-----+-------+----------+-----------------+-----------------+--------------------+------------+
|_c0|CustomerId|FirstName|LastName|             Company|             Address|         City|State|Country|PostalCode|            Phone|              Fax|               Email|SupportRepId|
+---+----------+---------+--------+--------------------+--------------------+-------------+-----+-------+----------+-----------------+-----------------+--------------------+------------+
| 15|        16|    Frank|  Harris|         Google Inc.|1600 Amphitheatre...|Mountain View|   CA|    USA|94043-1351|+1 (650) 253-0000|+1 (650) 253-0000|  fharris@google.com|           4|
| 16|        17|     Jack|   Smith|Microsoft Corpora...|     1 Microsoft Way|      Redmond|   WA|    USA|98052-8300|+1 (425) 882-8080|+1 (425) 882-8081|jacksmith@microso...|           5|
| 17|        18| Michelle|  Brooks|                null|        627 Broadway|     New York|   NY|    USA|10012-2612|+1 (212) 221-3546|+1 (212) 221-4679|   michelleb@aol.com|           3|
| 18|        19|      Tim|   Goyer|          Apple Inc.|     1 Infinite Loop|    Cupertino|   CA|    USA|     95014|+1 (408) 996-1010|+1 (408) 996-1011|    tgoyer@apple.com|           3|
| 19|        20|      Dan|  Miller|                null|541 Del Medio Avenue|Mountain View|   CA|    USA| 94040-111|+1 (650) 644-3358|             null| dmiller@comcast.com|           4|
| 20|        21|    Kathy|   Chase|                null|    801 W 4th Street|         Reno|   NV|    USA|     89503|+1 (775) 223-7665|             null| kachase@hotmail.com|           5|
| 21|        22|  Heather| Leacock|                null|    120 S Orange Ave|      Orlando|   FL|    USA|     32801|+1 (407) 999-7788|             null|  hleacock@gmail.com|           4|
| 22|        23|     John|  Gordon|                null|     69 Salem Street|       Boston|   MA|    USA|      2113|+1 (617) 522-1333|             null|johngordon22@yaho...|           4|
| 23|        24|    Frank| Ralston|                null|162 E Superior St...|      Chicago|   IL|    USA|     60611|+1 (312) 332-3232|             null|  fralston@gmail.com|           3|
| 24|        25|   Victor| Stevens|                null|319 N. Frances St...|      Madison|   WI|    USA|     53703|+1 (608) 257-0597|             null|  vstevens@yahoo.com|           5|
+---+----------+---------+--------+--------------------+--------------------+-------------+-----+-------+----------+-----------------+-----------------+--------------------+------------+
only showing top 10 rows

create new colum -- concat

In [263]:
invoices.withColumn( 'base',lit(2)).show(4)

+---+----------+---------+---------+--------------------+--------------------+-------------------+-----+-------+----------+------------------+------------------+--------------------+------------+----+
|_c0|CustomerId|FirstName| LastName|             Company|             Address|               City|State|Country|PostalCode|             Phone|               Fax|               Email|SupportRepId|base|
+---+----------+---------+---------+--------------------+--------------------+-------------------+-----+-------+----------+------------------+------------------+--------------------+------------+----+
|  0|         1|     Luís|Gonçalves|Embraer - Empresa...|Av. Brigadeiro Fa...|São José dos Campos|   SP| Brazil| 12227-000|+55 (12) 3923-5555|+55 (12) 3923-5566|luisg@embraer.com.br|           3|   2|
|  1|         2|   Leonie|   Köhler|                null|Theodor-Heuss-Str...|          Stuttgart| null|Germany|     70174|  +49 0711 2842222|              null|leonekohler@surfe...|           5|   2|
|  2|         3| François| Tremblay|                null|   1498 rue Bélanger|           Montréal|   QC| Canada|   H2G 1A7| +1 (514) 721-4711|              null| ftremblay@gmail.com|           3|   2|
|  3|         4|    Bjørn|   Hansen|                null|    Ullevålsveien 14|               Oslo| null| Norway|      0171|   +47 22 44 22 22|              null|bjorn.hansen@yaho...|           4|   2|
+---+----------+---------+---------+--------------------+--------------------+-------------------+-----+-------+----------+------------------+------------------+--------------------+------------+----+
only showing top 4 rows

In [264]:
invoices.columns

['_c0',
 'CustomerId',
 'FirstName',
 'LastName',
 'Company',
 'Address',
 'City',
 'State',
 'Country',
 'PostalCode',
 'Phone',
 'Fax',
 'Email',
 'SupportRepId']

In [213]:
##concatenate
from pyspark.sql.functions import concat_ws,col

In [227]:
invoices_1.FullName=invoices.select(concat_ws('_',invoices.FirstName,invoices.LastName).alias("FullName"))

In [228]:
invoices_1.show()

+--------------------+
|            FullName|
+--------------------+
|      Luís_Gonçalves|
|       Leonie_Köhler|
|   François_Tremblay|
|        Bjørn_Hansen|
|František_Wichter...|
|         Helena_Holý|
|       Astrid_Gruber|
|        Daan_Peeters|
|        Kara_Nielsen|
|     Eduardo_Martins|
|     Alexandre_Rocha|
|     Roberto_Almeida|
|      Fernanda_Ramos|
|        Mark_Philips|
|   Jennifer_Peterson|
|        Frank_Harris|
|          Jack_Smith|
|     Michelle_Brooks|
|           Tim_Goyer|
|          Dan_Miller|
+--------------------+
only showing top 20 rows

join table

--introduce sql temp table
--join expresstion

In [144]:
##distinct table
customers_sub = invoices.select('FirstName').show(10)

+---------+
|FirstName|
+---------+
|     Luís|
|   Leonie|
| François|
|    Bjørn|
|František|
|   Helena|
|   Astrid|
|     Daan|
|     Kara|
|  Eduardo|
+---------+
only showing top 10 rows

In [260]:
customers.createOrReplaceTempView("customers")
invoices.createOrReplaceTempView("invoices")
employees.createOrReplaceTempView("employees")

df_sample =  spark.sql("SELECT customers.CustomerId, customers.FirstName, customers.LastName, customers.Country\
    FROM customers INNER JOIN invoices ON customers.CustomerId ==  invoices.CustomerId \
    where customers.Country =='USA'")
df_sample.show()
##LEFT JOIN
##RIGHT JOIN
##ANTI JOIN
##FULLL JOIN
##CROSS JOIN
##JOIN

+----------+---------+----------+-------+
|CustomerId|FirstName|  LastName|Country|
+----------+---------+----------+-------+
|        16|    Frank|    Harris|    USA|
|        17|     Jack|     Smith|    USA|
|        18| Michelle|    Brooks|    USA|
|        19|      Tim|     Goyer|    USA|
|        20|      Dan|    Miller|    USA|
|        21|    Kathy|     Chase|    USA|
|        22|  Heather|   Leacock|    USA|
|        23|     John|    Gordon|    USA|
|        24|    Frank|   Ralston|    USA|
|        25|   Victor|   Stevens|    USA|
|        26|  Richard|Cunningham|    USA|
|        27|  Patrick|      Gray|    USA|
|        28|    Julia|   Barnett|    USA|
+----------+---------+----------+-------+

In [242]:
df1 = customers.join(invoices,customers.CustomerId ==  invoices.CustomerId,"right") \
   .show(truncate=False)##inner
df2 = customers.join(invoices,customers.CustomerId ==  invoices.CustomerId,"rightouter") \
   .show(truncate=False)#leftouter
df3 = customers.join(invoices,customers.CustomerId ==  invoices.CustomerId,"anti") \
   .show(truncate=False)##leftouter
df4 = customers.join(invoices,customers.CustomerId ==  invoices.CustomerId,"left_anti") \
   .show(truncate=False)##leftouter

+---+----------+---------+-----------+------------------------------------------------+------------------------------------+-------------------+-----+--------------+----------+------------------+------------------+-----------------------------+------------+---+----------+---------+-----------+------------------------------------------------+------------------------------------+-------------------+-----+--------------+----------+------------------+------------------+-----------------------------+------------+
|_c0|CustomerId|FirstName|LastName   |Company                                         |Address                             |City               |State|Country       |PostalCode|Phone             |Fax               |Email                        |SupportRepId|_c0|CustomerId|FirstName|LastName   |Company                                         |Address                             |City               |State|Country       |PostalCode|Phone             |Fax               |Email                        |SupportRepId|
+---+----------+---------+-----------+------------------------------------------------+------------------------------------+-------------------+-----+--------------+----------+------------------+------------------+-----------------------------+------------+---+----------+---------+-----------+------------------------------------------------+------------------------------------+-------------------+-----+--------------+----------+------------------+------------------+-----------------------------+------------+
|0  |1         |Luís     |Gonçalves  |Embraer - Empresa Brasileira de Aeronáutica S.A.|Av. Brigadeiro Faria Lima, 2170     |São José dos Campos|SP   |Brazil        |12227-000 |+55 (12) 3923-5555|+55 (12) 3923-5566|luisg@embraer.com.br         |3           |0  |1         |Luís     |Gonçalves  |Embraer - Empresa Brasileira de Aeronáutica S.A.|Av. Brigadeiro Faria Lima, 2170     |São José dos Campos|SP   |Brazil        |12227-000 |+55 (12) 3923-5555|+55 (12) 3923-5566|luisg@embraer.com.br         |3           |
|1  |2         |Leonie   |Köhler     |null                                            |Theodor-Heuss-Straße 34             |Stuttgart          |null |Germany       |70174     |+49 0711 2842222  |null              |leonekohler@surfeu.de        |5           |1  |2         |Leonie   |Köhler     |null                                            |Theodor-Heuss-Straße 34             |Stuttgart          |null |Germany       |70174     |+49 0711 2842222  |null              |leonekohler@surfeu.de        |5           |
|2  |3         |François |Tremblay   |null                                            |1498 rue Bélanger                   |Montréal           |QC   |Canada        |H2G 1A7   |+1 (514) 721-4711 |null              |ftremblay@gmail.com          |3           |2  |3         |François |Tremblay   |null                                            |1498 rue Bélanger                   |Montréal           |QC   |Canada        |H2G 1A7   |+1 (514) 721-4711 |null              |ftremblay@gmail.com          |3           |
|3  |4         |Bjørn    |Hansen     |null                                            |Ullevålsveien 14                    |Oslo               |null |Norway        |0171      |+47 22 44 22 22   |null              |bjorn.hansen@yahoo.no        |4           |3  |4         |Bjørn    |Hansen     |null                                            |Ullevålsveien 14                    |Oslo               |null |Norway        |0171      |+47 22 44 22 22   |null              |bjorn.hansen@yahoo.no        |4           |
|4  |5         |František|Wichterlová|JetBrains s.r.o.                                |Klanova 9/506                       |Prague             |null |Czech Republic|14700     |+420 2 4172 5555  |+420 2 4172 5555  |frantisekw@jetbrains.com     |4           |4  |5         |František|Wichterlová|JetBrains s.r.o.                                |Klanova 9/506                       |Prague             |null |Czech Republic|14700     |+420 2 4172 5555  |+420 2 4172 5555  |frantisekw@jetbrains.com     |4           |
|5  |6         |Helena   |Holý       |null                                            |Rilská 3174/6                       |Prague             |null |Czech Republic|14300     |+420 2 4177 0449  |null              |hholy@gmail.com              |5           |5  |6         |Helena   |Holý       |null                                            |Rilská 3174/6                       |Prague             |null |Czech Republic|14300     |+420 2 4177 0449  |null              |hholy@gmail.com              |5           |
|6  |7         |Astrid   |Gruber     |null                                            |Rotenturmstraße 4, 1010 Innere Stadt|Vienne             |null |Austria       |1010      |+43 01 5134505    |null              |astrid.gruber@apple.at       |5           |6  |7         |Astrid   |Gruber     |null                                            |Rotenturmstraße 4, 1010 Innere Stadt|Vienne             |null |Austria       |1010      |+43 01 5134505    |null              |astrid.gruber@apple.at       |5           |
|7  |8         |Daan     |Peeters    |null                                            |Grétrystraat 63                     |Brussels           |null |Belgium       |1000      |+32 02 219 03 03  |null              |daan_peeters@apple.be        |4           |7  |8         |Daan     |Peeters    |null                                            |Grétrystraat 63                     |Brussels           |null |Belgium       |1000      |+32 02 219 03 03  |null              |daan_peeters@apple.be        |4           |
|8  |9         |Kara     |Nielsen    |null                                            |Sønder Boulevard 51                 |Copenhagen         |null |Denmark       |1720      |+453 3331 9991    |null              |kara.nielsen@jubii.dk        |4           |8  |9         |Kara     |Nielsen    |null                                            |Sønder Boulevard 51                 |Copenhagen         |null |Denmark       |1720      |+453 3331 9991    |null              |kara.nielsen@jubii.dk        |4           |
|9  |10        |Eduardo  |Martins    |Woodstock Discos                                |Rua Dr. Falcão Filho, 155           |São Paulo          |SP   |Brazil        |01007-010 |+55 (11) 3033-5446|+55 (11) 3033-4564|eduardo@woodstock.com.br     |4           |9  |10        |Eduardo  |Martins    |Woodstock Discos                                |Rua Dr. Falcão Filho, 155           |São Paulo          |SP   |Brazil        |01007-010 |+55 (11) 3033-5446|+55 (11) 3033-4564|eduardo@woodstock.com.br     |4           |
|10 |11        |Alexandre|Rocha      |Banco do Brasil S.A.                            |Av. Paulista, 2022                  |São Paulo          |SP   |Brazil        |01310-200 |+55 (11) 3055-3278|+55 (11) 3055-8131|alero@uol.com.br             |5           |10 |11        |Alexandre|Rocha      |Banco do Brasil S.A.                            |Av. Paulista, 2022                  |São Paulo          |SP   |Brazil        |01310-200 |+55 (11) 3055-3278|+55 (11) 3055-8131|alero@uol.com.br             |5           |
|11 |12        |Roberto  |Almeida    |Riotur                                          |Praça Pio X, 119                    |Rio de Janeiro     |RJ   |Brazil        |20040-020 |+55 (21) 2271-7000|+55 (21) 2271-7070|roberto.almeida@riotur.gov.br|3           |11 |12        |Roberto  |Almeida    |Riotur                                          |Praça Pio X, 119                    |Rio de Janeiro     |RJ   |Brazil        |20040-020 |+55 (21) 2271-7000|+55 (21) 2271-7070|roberto.almeida@riotur.gov.br|3           |
|12 |13        |Fernanda |Ramos      |null                                            |Qe 7 Bloco G                        |Brasília           |DF   |Brazil        |71020-677 |+55 (61) 3363-5547|+55 (61) 3363-7855|fernadaramos4@uol.com.br     |4           |12 |13        |Fernanda |Ramos      |null                                            |Qe 7 Bloco G                        |Brasília           |DF   |Brazil        |71020-677 |+55 (61) 3363-5547|+55 (61) 3363-7855|fernadaramos4@uol.com.br     |4           |
|13 |14        |Mark     |Philips    |Telus                                           |8210 111 ST NW                      |Edmonton           |AB   |Canada        |T6G 2C7   |+1 (780) 434-4554 |+1 (780) 434-5565 |mphilips12@shaw.ca           |5           |13 |14        |Mark     |Philips    |Telus                                           |8210 111 ST NW                      |Edmonton           |AB   |Canada        |T6G 2C7   |+1 (780) 434-4554 |+1 (780) 434-5565 |mphilips12@shaw.ca           |5           |
|14 |15        |Jennifer |Peterson   |Rogers Canada                                   |700 W Pender Street                 |Vancouver          |BC   |Canada        |V6C 1G8   |+1 (604) 688-2255 |+1 (604) 688-8756 |jenniferp@rogers.ca          |3           |14 |15        |Jennifer |Peterson   |Rogers Canada                                   |700 W Pender Street                 |Vancouver          |BC   |Canada        |V6C 1G8   |+1 (604) 688-2255 |+1 (604) 688-8756 |jenniferp@rogers.ca          |3           |
|15 |16        |Frank    |Harris     |Google Inc.                                     |1600 Amphitheatre Parkway           |Mountain View      |CA   |USA           |94043-1351|+1 (650) 253-0000 |+1 (650) 253-0000 |fharris@google.com           |4           |15 |16        |Frank    |Harris     |Google Inc.                                     |1600 Amphitheatre Parkway           |Mountain View      |CA   |USA           |94043-1351|+1 (650) 253-0000 |+1 (650) 253-0000 |fharris@google.com           |4           |
|16 |17        |Jack     |Smith      |Microsoft Corporation                           |1 Microsoft Way                     |Redmond            |WA   |USA           |98052-8300|+1 (425) 882-8080 |+1 (425) 882-8081 |jacksmith@microsoft.com      |5           |16 |17        |Jack     |Smith      |Microsoft Corporation                           |1 Microsoft Way                     |Redmond            |WA   |USA           |98052-8300|+1 (425) 882-8080 |+1 (425) 882-8081 |jacksmith@microsoft.com      |5           |
|17 |18        |Michelle |Brooks     |null                                            |627 Broadway                        |New York           |NY   |USA           |10012-2612|+1 (212) 221-3546 |+1 (212) 221-4679 |michelleb@aol.com            |3           |17 |18        |Michelle |Brooks     |null                                            |627 Broadway                        |New York           |NY   |USA           |10012-2612|+1 (212) 221-3546 |+1 (212) 221-4679 |michelleb@aol.com            |3           |
|18 |19        |Tim      |Goyer      |Apple Inc.                                      |1 Infinite Loop                     |Cupertino          |CA   |USA           |95014     |+1 (408) 996-1010 |+1 (408) 996-1011 |tgoyer@apple.com             |3           |18 |19        |Tim      |Goyer      |Apple Inc.                                      |1 Infinite Loop                     |Cupertino          |CA   |USA           |95014     |+1 (408) 996-1010 |+1 (408) 996-1011 |tgoyer@apple.com             |3           |
|19 |20        |Dan      |Miller     |null                                            |541 Del Medio Avenue                |Mountain View      |CA   |USA           |94040-111 |+1 (650) 644-3358 |null              |dmiller@comcast.com          |4           |19 |20        |Dan      |Miller     |null                                            |541 Del Medio Avenue                |Mountain View      |CA   |USA           |94040-111 |+1 (650) 644-3358 |null              |dmiller@comcast.com          |4           |
+---+----------+---------+-----------+------------------------------------------------+------------------------------------+-------------------+-----+--------------+----------+------------------+------------------+-----------------------------+------------+---+----------+---------+-----------+------------------------------------------------+------------------------------------+-------------------+-----+--------------+----------+------------------+------------------+-----------------------------+------------+
only showing top 20 rows

+---+----------+---------+-----------+------------------------------------------------+------------------------------------+-------------------+-----+--------------+----------+------------------+------------------+-----------------------------+------------+---+----------+---------+-----------+------------------------------------------------+------------------------------------+-------------------+-----+--------------+----------+------------------+------------------+-----------------------------+------------+
|_c0|CustomerId|FirstName|LastName   |Company                                         |Address                             |City               |State|Country       |PostalCode|Phone             |Fax               |Email                        |SupportRepId|_c0|CustomerId|FirstName|LastName   |Company                                         |Address                             |City               |State|Country       |PostalCode|Phone             |Fax               |Email                        |SupportRepId|
+---+----------+---------+-----------+------------------------------------------------+------------------------------------+-------------------+-----+--------------+----------+------------------+------------------+-----------------------------+------------+---+----------+---------+-----------+------------------------------------------------+------------------------------------+-------------------+-----+--------------+----------+------------------+------------------+-----------------------------+------------+
|0  |1         |Luís     |Gonçalves  |Embraer - Empresa Brasileira de Aeronáutica S.A.|Av. Brigadeiro Faria Lima, 2170     |São José dos Campos|SP   |Brazil        |12227-000 |+55 (12) 3923-5555|+55 (12) 3923-5566|luisg@embraer.com.br         |3           |0  |1         |Luís     |Gonçalves  |Embraer - Empresa Brasileira de Aeronáutica S.A.|Av. Brigadeiro Faria Lima, 2170     |São José dos Campos|SP   |Brazil        |12227-000 |+55 (12) 3923-5555|+55 (12) 3923-5566|luisg@embraer.com.br         |3           |
|1  |2         |Leonie   |Köhler     |null                                            |Theodor-Heuss-Straße 34             |Stuttgart          |null |Germany       |70174     |+49 0711 2842222  |null              |leonekohler@surfeu.de        |5           |1  |2         |Leonie   |Köhler     |null                                            |Theodor-Heuss-Straße 34             |Stuttgart          |null |Germany       |70174     |+49 0711 2842222  |null              |leonekohler@surfeu.de        |5           |
|2  |3         |François |Tremblay   |null                                            |1498 rue Bélanger                   |Montréal           |QC   |Canada        |H2G 1A7   |+1 (514) 721-4711 |null              |ftremblay@gmail.com          |3           |2  |3         |François |Tremblay   |null                                            |1498 rue Bélanger                   |Montréal           |QC   |Canada        |H2G 1A7   |+1 (514) 721-4711 |null              |ftremblay@gmail.com          |3           |
|3  |4         |Bjørn    |Hansen     |null                                            |Ullevålsveien 14                    |Oslo               |null |Norway        |0171      |+47 22 44 22 22   |null              |bjorn.hansen@yahoo.no        |4           |3  |4         |Bjørn    |Hansen     |null                                            |Ullevålsveien 14                    |Oslo               |null |Norway        |0171      |+47 22 44 22 22   |null              |bjorn.hansen@yahoo.no        |4           |
|4  |5         |František|Wichterlová|JetBrains s.r.o.                                |Klanova 9/506                       |Prague             |null |Czech Republic|14700     |+420 2 4172 5555  |+420 2 4172 5555  |frantisekw@jetbrains.com     |4           |4  |5         |František|Wichterlová|JetBrains s.r.o.                                |Klanova 9/506                       |Prague             |null |Czech Republic|14700     |+420 2 4172 5555  |+420 2 4172 5555  |frantisekw@jetbrains.com     |4           |
|5  |6         |Helena   |Holý       |null                                            |Rilská 3174/6                       |Prague             |null |Czech Republic|14300     |+420 2 4177 0449  |null              |hholy@gmail.com              |5           |5  |6         |Helena   |Holý       |null                                            |Rilská 3174/6                       |Prague             |null |Czech Republic|14300     |+420 2 4177 0449  |null              |hholy@gmail.com              |5           |
|6  |7         |Astrid   |Gruber     |null                                            |Rotenturmstraße 4, 1010 Innere Stadt|Vienne             |null |Austria       |1010      |+43 01 5134505    |null              |astrid.gruber@apple.at       |5           |6  |7         |Astrid   |Gruber     |null                                            |Rotenturmstraße 4, 1010 Innere Stadt|Vienne             |null |Austria       |1010      |+43 01 5134505    |null              |astrid.gruber@apple.at       |5           |
|7  |8         |Daan     |Peeters    |null                                            |Grétrystraat 63                     |Brussels           |null |Belgium       |1000      |+32 02 219 03 03  |null              |daan_peeters@apple.be        |4           |7  |8         |Daan     |Peeters    |null                                            |Grétrystraat 63                     |Brussels           |null |Belgium       |1000      |+32 02 219 03 03  |null              |daan_peeters@apple.be        |4           |
|8  |9         |Kara     |Nielsen    |null                                            |Sønder Boulevard 51                 |Copenhagen         |null |Denmark       |1720      |+453 3331 9991    |null              |kara.nielsen@jubii.dk        |4           |8  |9         |Kara     |Nielsen    |null                                            |Sønder Boulevard 51                 |Copenhagen         |null |Denmark       |1720      |+453 3331 9991    |null              |kara.nielsen@jubii.dk        |4           |
|9  |10        |Eduardo  |Martins    |Woodstock Discos                                |Rua Dr. Falcão Filho, 155           |São Paulo          |SP   |Brazil        |01007-010 |+55 (11) 3033-5446|+55 (11) 3033-4564|eduardo@woodstock.com.br     |4           |9  |10        |Eduardo  |Martins    |Woodstock Discos                                |Rua Dr. Falcão Filho, 155           |São Paulo          |SP   |Brazil        |01007-010 |+55 (11) 3033-5446|+55 (11) 3033-4564|eduardo@woodstock.com.br     |4           |
|10 |11        |Alexandre|Rocha      |Banco do Brasil S.A.                            |Av. Paulista, 2022                  |São Paulo          |SP   |Brazil        |01310-200 |+55 (11) 3055-3278|+55 (11) 3055-8131|alero@uol.com.br             |5           |10 |11        |Alexandre|Rocha      |Banco do Brasil S.A.                            |Av. Paulista, 2022                  |São Paulo          |SP   |Brazil        |01310-200 |+55 (11) 3055-3278|+55 (11) 3055-8131|alero@uol.com.br             |5           |

+---+----------+---------+--------+-------+-------+----+-----+-------+----------+-----+---+-----+------------+
|_c0|CustomerId|FirstName|LastName|Company|Address|City|State|Country|PostalCode|Phone|Fax|Email|SupportRepId|
+---+----------+---------+--------+-------+-------+----+-----+-------+----------+-----+---+-----+------------+
+---+----------+---------+--------+-------+-------+----+-----+-------+----------+-----+---+-----+------------+

join three tables

In [266]:
df_m = customers.filter(customers.Country == 'USA').join(invoices, customers.CustomerId == invoices.CustomerId, "leftouter").join(employees, employees.EmployeeId == invoices.SupportRepId, 'leftouter')

spark_sql transform

In [283]:
df_sample =  spark.sql(
"SELECT \
    managers.EmployeeId as 'ManagerId',\
    managers.LastName as 'ManagerLastName',\
    employees.lastName as 'ManagerFirstName',\
    employees.ReportTo as 'StaffId' \
    From employees as managers \
    Left join employees on employees.ReportsTo = managers.EmployeeId \
    Group by manager.EmployeeId  \
    order by 3 desc")

ParseException:
mismatched input ''ManagerId'' expecting {<EOF>, ';'}(line 1, pos 34)

== SQL ==
SELECT     managers.EmployeeId as 'ManagerId',    managers.LastName as 'ManagerLastName',    employees.lastName as 'ManagerFirstName',    employees.ReportTo as 'StaffId'     From employees as managers     Left join employees on employees.ReportsTo = managers.EmployeeId     Group by manager.EmployeeId      order by 3 desc
----------------------------------^^^

which employee rep for which customers

which employee rep for which customers -- subquery

In [293]:
df_sample =  spark.sql(
"SELECT \
    a.CustomerId,\
    a.FirstName,\
    a.Company, \
    CASE WHEN a.Country == 'USE' THEN 'Y' ELSE 'N' END AS customers_flag \
    FROM (SELECT b.CustomerId FROM b.Customers) B\
    FROM Invoices A")

ParseException:
mismatched input 'FROM' expecting {<EOF>, ';'}(line 1, pos 181)

== SQL ==
SELECT     a.CustomerId,    a.FirstName,    a.Company,     CASE WHEN a.Country == 'USE' THEN 'Y' ELSE 'N' END AS customers_flag     FROM (SELECT b.CustomerId FROM b.Customers) B    FROM Invoices A
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------^^^

customer by city

In [308]:
df_sample3 =  spark.sql(
"SELECT \
    count(customerID), \
    State \
    From customers \
    Group By State \
    HAVING State =='CA'\
    order by 1 desc")

##having condition in sample

who are the top 10 customers
--limit--

In [328]:
df_sample4 =  spark.sql(
"SELECT\
    customers.customerId,\
    sum(customers.PostalCode) as TotalSales\
    FROM customers\
    join invoices on invoices.CustomerId = customers.CustomerId\
    group by customers.CustomerId, customers.State \
    order by customers.customerId desc\
    limit 10")
df_sample4.show(10)

+----------+----------+
|customerId|TotalSales|
+----------+----------+
|        59|  560001.0|
|        58|  110017.0|
|        57|      null|
|        56|    1106.0|
|        55|    2010.0|
|        54|      null|
|        53|      null|
|        52|      null|
|        51|   11230.0|
|        50|   28015.0|
+----------+----------+

calculate sales

In [344]:
df_sample5 =  spark.sql(
"SELECT \
    customers.customerId, \
    avg(customers.PostalCode) as Average\
    FROM customers\
    JOIN invoices on invoices.CustomerId = customers.CustomerId\
    Group By customers.customerId \
    Having Average > 5600")

which customers buy more than average amount
-- having
-- inner join
-- subquery in Having and where clause

In [ ]:
select
    customer.customerId 
    format(avg(Total),2) as Average
    from customer
    join invoice on invoice.CustomerId = customer.CustomerId
    group by customer.customerId
    having Average > (select avg(Total) from invoices)

subquery

In [ ]:
select
format(avg(count),2) as "Average Items/Invoices"
from (select count(InvoiceId) as count from invoiceline groupby InvoiceId) as sub

Case when

In [351]:
df_sample6 =  spark.sql(
"SELECT \
    customers.customerId, \
    CASE WHEN Country =='USA' then 'A' \
    WHEN  Country =='Brazil' THEN 'B'\
    ELSE 'C' END \
    FROM customers")

In [350]:
customers.select('Country').show()

+--------------+
|       Country|
+--------------+
|        Brazil|
|       Germany|
|        Canada|
|        Norway|
|Czech Republic|
|Czech Republic|
|       Austria|
|       Belgium|
|       Denmark|
|        Brazil|
|        Brazil|
|        Brazil|
|        Brazil|
|        Canada|
|        Canada|
|           USA|
|           USA|
|           USA|
|           USA|
|           USA|
+--------------+
only showing top 20 rows

CTE with multiple column aliases

In [ ]:
WITH t(x, y) AS (SELECT 1, 2)
WITH t AS (
    WITH t2 AS (SELECT 1)
    SELECT * FROM t2
)
SELECT * FROM t;

subquery

In [356]:
df_sample6 =  spark.sql(
"SELECT \
    Country as Country, count(CustomerId) as NumberofSales\
    from (SELECT * from invoices where Country = 'USA') as sub\
    Group By Country, State\
    Order By 2 desc")

In [ ]:
select count(InvoiceId) as "Total number of CA sales"
from (select * from invoice 
where BillingCountry = 'USA' adn BillingState = 'CA') sub
group by BillingCity
order by 2 desc

check if the unit prices in invoiceline table is the same as the ones in teh track table?

In [ ]:
select track.TrackId
track.unitPrice - invoice.UnitPrice as "Price difference: track vs. invoiceline table"
from track
join invoiceline on track.TrackId = invoiceline.TrackId

Do the totals in the invoice table match the quantity prices in the invoiceline table?

In [ ]:
select invoice.InvoiceId
invoice.Total - sum(invoiceline.UnitPrice * invoiceline.Quantity) as "Total sale differences: invoiceline vs. invoice table"
from invoice
join invoiceline on invoiceline.InvoiceId = invoice.InvoiceId
group by invoice.invoiceId

RDD transformation map(), filter(), flatMap(), union()
collect take() first() count()

In [357]:
fileRDD_filter = fileRDD.filter(lambda line: 'Spark' in line)
for line in fileRDD_filter.take(4): 
    print(line)

NameError: name 'fileRDD' is not defined

In [362]:
regularRDDD = sc.parallelize([("Messi, 23"), ("Ronaldo", 34),
                             ("Neymar",22), ("Messi", 24)])
pairRDD_reducebykey = regularRDD.reducedByKey(lamda (x, y) : (x + y))
pairRDD_reducebykey.collect()

SyntaxError: invalid syntax (<ipython-input-362-b6858e6e9d31>, line 3)

In [365]:
Rdd = sc.parallelize([(1,2), (3,4), (3,6), (4,5)])
Rdd_Reduced = Rdd.reduceByKey(lambda x, y: x + y)

Rdd_Reduced.collect()

[(1, 2), (3, 10), (4, 5)]

transaction starts and ends date

In [381]:
sc.stop()

In [405]:
from pyspark.sql.functions import *
import pyspark.sql.functions as f
sqlContext = SQLContext(sc)

In [28]:
data = [
  ("2015-01-01 23:59:59", "2015-01-02 00:01:02", 1),
  ("2015-01-02 23:00:00", "2015-01-02 23:59:59", 2),
  ("2015-01-02 22:59:58", "2015-01-02 23:59:59", 3)]

In [34]:
df = sqlContext.createDataFrame(data, ["start_time", "end_time", "id"])
type(df)

pyspark.sql.dataframe.DataFrame

In [399]:
df_new = df.select(
  df.start_time.cast("timestamp").alias("start_time"),
  df.end_time.cast("timestamp").alias("end_time"),
  df.id)
condition = \
  (to_date(df.start_time) == to_date(df.end_time)) & \
  (df.start_time + expr("INTERVAL 1 HOUR") >= df.end_time)
df.filter(condition).show()

+-------------------+-------------------+---+
|         start_time|           end_time| id|
+-------------------+-------------------+---+
|2015-01-02 23:00:00|2015-01-02 23:59:59|  2|
+-------------------+-------------------+---+

In [40]:
df_new = df.select(
    df.start_time.cast("timestamp").alias("start_time"),
    df.end_time.cast("timestamp").alias("end_time"),
    df.id)
condition = \
    (to_date(df.start_time) == to_date(df.end_time)) &\
    (df.start_time + expr("INTERVAL 1 HOUR") >= df.end_time)
df.filter(condition).show()

+-------------------+-------------------+---+
|         start_time|           end_time| id|
+-------------------+-------------------+---+
|2015-01-02 23:00:00|2015-01-02 23:59:59|  2|
+-------------------+-------------------+---+

In [43]:
from pyspark.sql import functions as F

df.select(F.date_format('timestamp','yyyy-MM-dd').alias('day')).groupby('day').count().show()

AnalysisException: cannot resolve '`timestamp`' given input columns: [end_time, id, start_time];;
'Project [date_format('timestamp, yyyy-MM-dd, Some(America/Los_Angeles)) AS day#98]
+- LogicalRDD [start_time#42, end_time#43, id#44L], false

In [42]:
df_new.selectExpr("year(timestamp) AS year", "value").groupBy("year").sum()

AnalysisException: cannot resolve '`timestamp`' given input columns: [end_time, id, start_time]; line 1 pos 5;
'Project ['year('timestamp) AS year#97, 'value]
+- Project [cast(start_time#42 as timestamp) AS start_time#73, cast(end_time#43 as timestamp) AS end_time#74, id#44L]
   +- LogicalRDD [start_time#42, end_time#43, id#44L], false

Mlib visualization

In [56]:
df_pandas = invoices.toPandas()

NameError: name 'invoices' is not defined

In [ ]:
# Create a horizontal bar plot
df_pandas.plot(kind='barh', x='City', y='PostalCode', colormap='winter_r')
plt.show()

In [ ]:
##write to the csv
df.write (
    .format("sales.redshift")
    .option("URL",redshift_JDBC_URL)
    .option("tempdir","")
    .mode("overwrite")
    .sav()

In [ ]:
what transaction of the database

In [46]:
spark.createDataFrame([(2020, 6, 26), (1000, 2, 29), (-44, 1, 1)] ,['Y', 'M', 'D']).createTempView('YMD')

In [48]:
df = spark.sql('select make_date(Y, M, D) as date from YMD')

In [49]:
df.printSchema()

root
 |-- date: date (nullable = true)

In [50]:
df.show()

+-----------+
|       date|
+-----------+
| 2020-06-26|
|       null|
|-0044-01-01|
+-----------+

In [ ]:
staging: filtering processing data ETL

In [53]:
import datetime

In [54]:
df = spark.createDataFrame([(datetime.datetime(2020, 7, 1, 0, 0, 0),datetime.date(2020, 7, 1))], ['timestamp', 'date'])

In [55]:
df.show()

+-------------------+----------+
|          timestamp|      date|
+-------------------+----------+
|2020-07-01 00:00:00|2020-07-01|
+-------------------+----------+

In [ ]:
df.select('transaction_number, hour(from_unixtime('transaction_date)) as 'hour)
      .groupBy('hour)
      .agg(count('transaction_number) as 'transactions)